


header {
    height: 10vh;
}

.generalContainer {
    height: 90vh;
}

.productContainer {
    height: 100%;
    overflow-y: scroll;
}

.cartContainer {
    height: 100%;
    background-color: #fd7e14;
    overflow-y: scroll;
}
